/* App-wide styles */
body {
    font-family: 'Montserrat', sans-serif;
  }

  select {
    font-family: "Open Sans", sans-serif;
    /* Other styles can be added here */
  }

  option {
    font-family: "Open Sans", sans-serif;
    /* Other styles can be added here */
  }

  .colored-bg{
    background-color: #4173a5;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #567fa9;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .nav-logo {
    max-width: 70px;
    max-height: 70px;
  }
  
  /* Title Section styles */
  #title {
    text-align: center;
    padding: 50px 0;
  }

  .title-image{
    width:50%;
  }
  
  .main-title {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
  }
  
  .download-button {
    margin-top: 20px;
  }
  
  /* Features Section styles */
  #features {
    text-align: center;
    padding: 50px 0;
  }
  
  .feature-box {
    margin: 20px 0;
  }
  
  .feature-title {
    font-family: 'Merriweather', serif;
    margin: 10px 0;
  }
  
  /* Call to Action Section styles */
  #cta {
    text-align: center;
    padding: 50px 0;
  }
  
  .cta-text {
    color: #567fa9;
    font-weight: bold;
  }
  
  Footer styles
  #footer {
    text-align: center;
    padding: 20px 0;
    background-color: #567fa9;
    color: white;
  }
  
  .social-brand {
    font-size: 30px;
    margin: 0 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .main-title {
      font-size: 2rem;
    }
    
    .title-image {
      display: none;
    }
  }
  
  /* Custom styles */
  /* cleanform */

#main{
  display: flex;
  flex-direction: row;
}

.formDiv {
  background-color: #607a94;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 2.25rem; /* Add margin to maintain consistency */
}

.formHead {
  font-family: "Montserrat";
  font-weight: bolder;
  line-height: 1.5;
  font-size: 3.5rem;
  text-align: center;
}

.formTitle{
  color: lightgray;
}

.formItem{
  width: 120px;
}

.form-input{
  width:242px;
}

.formNote{
  vertical-align: top;
}

#cleaningNotesDiv{
  align-items:start;

}

.listBody {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  border-radius: 10px;
  color: lightgray;
  padding-left: 0;
}

.listDiv {
  width:100%;
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column; /* Align children in a column */
  align-items: baseline; /* Align items to their baseline */
  gap: 1rem;
}


.listHead{
  border: black solid 2px;
  border-radius: 10px;
  color: lightgray;
  height: 25%;
  margin-top: 1rem;
}

.truckList{
  display: flex;
  flex-direction: column;
  height: 900px;
  margin: 1rem;
}

  .listCol {
    display: flex;
    color: lightgrey;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; /* Add space between items */
    width: 100%;
    margin: 0; /* Remove margin to maintain consistency */
  }
  
  .truckUl{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }
  
  
  /* Add this if you want to remove any spacing between items */
  .listCol > h5 {
    margin-bottom: 0;
  }
  
  .listCol > h6 {
    text-align: center;
    margin-bottom: 0;
    flex-basis: 25%;
  }
  
  .trkItem {
    width:500px;
    display: flex;
    justify-content: space-around; /* Add spacing between items in each list item */
    align-items: baseline; /* Align items to their baseline */
    list-style: none;
    margin-top: 5px;
    }

  .left{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .center{
    width: 100%;
  }

  .right{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .styleCol1{
    width: 23%;
    text-align: center;
  }

  .styleCol2{
    width: 31%;
    text-align: center;
  }

  .container{
    margin-top: 5px;
  }
  /* Add any custom styles here */
    